<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>联系我们</title>
	<link rel="stylesheet" href="/public/index/css/style.css">
	<link rel="stylesheet" href="/public/index/css/styles.css">
</head>
<body>
	<div class="wrapper">
		<script src="/public/index/js/header.js"></script>

		<!-- banner -->
		<div class="banner1"><img src="/public/index/image/banner.png" alt=""></div>

		<!-- 概括 -->
		<div class="about_con ">
			<div class="sidenav ">
				<ul>
					<li>
						<h3>联系我们</h3>
					</li>
					<!-- <li>
						<h3>资讯动态</h3>
						<ul class="subul1">
							<li><a href="#">我院成功举办“合同风险防范”专题...</a></li>
							<li><a href="#">我院成功举办“合同风险防范”专题...</a></li>
							<li><a href="#">我院成功举办“合同风险防范”专题...</a></li>
							<li><a href="#">我院成功举办“合同风险防范”专题...</a></li>
							<li><a href="#">我院成功举办“合同风险防范”专题...</a></li>
							<li><a href="#">我院成功举办“合同风险防范”专题...</a></li>
					    </ul>
					</li> -->
					<li>
	            <P align=left style="font-size:14px;margin-top:10px">&nbsp;<STRONG>&nbsp;</STRONG><FONT color=#003366><STRONG>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 中国工程物理研究院</STRONG></FONT></P>
                    <P align=left style="font-size:14px;margin-top:10px"><FONT color=#003366>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 地址：四川省绵阳市绵山路64号</FONT></P>
                    <P align=left style="font-size:14px;margin-top:10px"><FONT color=#003366>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;邮编：621900</FONT></P>
                    <P align=left style="font-size:14px;margin-top:10px"><FONT color=#003366>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;E-mail<FONT color=#003366>：</FONT><A href="mailto:dzzw@caep.ac.cn"><FONT color=#003366>dzzw@caep.ac.cn</FONT></A><BR></FONT></P>
					</li>
					<!-- <li limg><img src="image/sidebar.jpg" alt=""></li> -->
				</ul>
			</div>
			<div class="sidecon ">
				<div class="aboutTop">当前位置:<a href="index.html">首页</a> > <a href="">联系我们</a></div><hr>
				<div class="aboutCon">
					<h2>中国工程物理研究院</h2><hr>
					<iframe src="map.html" frameborder="0" style="width:600px;height:500px;margin:20px auto;display: block;"></iframe>
					<!-- <img src="image/jiu.jpg" alt="" conimg> -->
					<!-- <P align=left style="font-size:14px;margin-top:10px">&nbsp;<STRONG>&nbsp;</STRONG><FONT color=#003366><STRONG>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 中国工程物理研究院</STRONG></FONT></P>
                    <P align=left style="font-size:14px;margin-top:10px"><FONT color=#003366>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 地址：四川省绵阳市绵山路64号</FONT></P>
                    <P align=left style="font-size:14px;margin-top:10px"><FONT color=#003366>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;邮编：621900</FONT></P>
                    <P align=left style="font-size:14px;margin-top:10px"><FONT color=#003366>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;E-mail<FONT color=#003366>：</FONT><A href="mailto:dzzw@caep.ac.cn"><FONT color=#003366>dzzw@caep.ac.cn</FONT></A><BR></FONT></P> -->
                    

				</div>
			</div>
		</div>

		<!-- 友情链接 -->
        <script src="/public/index/js/footer.js"></script>
	</div>
	<script src="/public/index/js/jquery.js"></script>
	<script src="/public/index/js/style.js"></script>
</body>
</html>