<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>人才战略</title>
	<link rel="stylesheet" href="/public/index/css/style.css">
	<link rel="stylesheet" href="/public/index/css/styles.css">
</head>
<body>
	<div class="wrapper">
		<script src="/public/index/js/header.js"></script>

		<!-- banner -->
		<div class="banner1"><img src="/public/index/image/banner.png" alt=""></div>

		<!-- 概括 -->
		<div class="about_con ">
			<div class="sidenav ">
				<ul>
					<li>
						<h3>人力资源</h3>
						<ul class="subul">
							<li class="jiaoyu"><a href="#">教育培训</a></li>
							<li class="rencai"><a href="#">人才引进</a></li>
							<li class="boshi"><a href="#">博士后</a></li>
							<li class="dongtai"><a href="#">动态</a></li>
							<li class="shengyin"><a href="#">声音</a></li>
						</ul>
					</li>
					<!-- <li>
						<h3>资讯动态</h3>
						<ul class="subul1">
							<li><a href="#">我院成功举办“合同风险防范”专题...</a></li>
							<li><a href="#">我院成功举办“合同风险防范”专题...</a></li>
							<li><a href="#">我院成功举办“合同风险防范”专题...</a></li>
							<li><a href="#">我院成功举办“合同风险防范”专题...</a></li>
							<li><a href="#">我院成功举办“合同风险防范”专题...</a></li>
							<li><a href="#">我院成功举办“合同风险防范”专题...</a></li>
					    </ul>
					</li> -->
					<li limg><img src="image/sidebar.jpg" alt=""></li>
				</ul>
			</div>
			<div class="sidecon ">
				<div class="aboutTop">当前位置:<a href="">首页</a> > <a href="">人力资源</a> > <a class="result" href="">人才战略</a></div><hr>
				<div class="aboutCon">
					<h2>人才战略</h2><hr>
					<p style="font-size:14px;margin-top:20px"> &nbsp;&nbsp;&nbsp;&nbsp;人才战略计划即将开启欢迎你的加入!</p>
				</div>
			</div>
		</div>

		<!-- 友情链接 -->
		<script src="/public/index/js/footer.js"></script>
	</div>

	<script src="/public/index/js/jquery.js" type="text/javascript" charset="utf-8" ></script>
	<script src="/public/index/js/style.js"></script>
	<script  type="text/javascript">
		var jiaoyu='<h2 class="h_2">教育培训</h2><hr><p text>&nbsp; &nbsp; 教育事业</p> <br><div><img src="/public/index/image/30.jpg" style="font-size: 15px;" alt="" /></div>'
		$(".jiaoyu").click(function(){
			// console.log($(this).text());
			$(".result").text("教育培训");
			$(".aboutCon").html("");
			$(".aboutCon").html(jiaoyu);
			$("title").text($(".h_2").text())
		});

		var rencai='<h2 class="h_2">人才引进</h2><hr><p text>&nbsp; &nbsp; 最前沿的人力信息</p> <br> <div><img src="/public/index/image/30.jpg" style="font-size: 15px;" alt="" /></div>'
		$(".rencai").click(function(){
			// console.log($(this).text());
			$(".result").text("人才引进");
			$(".aboutCon").html("");
			$(".aboutCon").html(rencai);
			$("title").text($(".h_2").text())
		});

		var boshi='<h2 class="h_2">博士后</h2><hr><p text>&nbsp; &nbsp; 这是最新的主题招聘博士后信息</p> <br> <div><img src="/public/index/image/10.jpg" style="font-size: 15px;" alt="" /></div><div><img src="image/30.jpg" style="font-size: 15px;" alt="" /></div>'
		$(".boshi").click(function(){
			// console.log($(this).text());
			$(".result").text("博士后");
			$(".aboutCon").html("");
			$(".aboutCon").html(boshi);
			$("title").text($(".h_2").text())
		});

		var dongtai='<h2 class="h_2">动态</h2><hr><p text>&nbsp; &nbsp; 我有最新的动态</p> <br> <div><img src="/public/index/image/10.jpg" style="font-size: 15px;" alt="" /></div><div><img src="image/30.jpg" style="font-size: 15px;" alt="" /></div>'
		$(".dongtai").click(function(){
			// console.log($(this).text());
			$(".result").text("动态");
			$(".aboutCon").html("");
			$(".aboutCon").html(dongtai);
			$("title").text($(".h_2").text())
		});

		var shengyin='<h2 class="h_2">声音</h2><hr><p text>&nbsp; &nbsp; 听见我的声音</p> <br> <div><img src="/public/index/image/10.jpg" style="font-size: 15px;" alt="" /></div><div><img src="image/30.jpg" style="font-size: 15px;" alt="" /></div>'
		$(".shengyin").click(function(){
			// console.log($(this).text());
			$(".result").text("声音");
			$(".aboutCon").html("");
			$(".aboutCon").html(shengyin);
			$("title").text($(".h_2").text())
		});

		
			

			// $(".subul1").on("click","li",function(){
			// 	console.log(111)
			// })
	</script>
</body>
</html>