<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>中船综合院领导一行来我院考察交流</title>
	<link rel="stylesheet" href="/public/index/css/style.css">
	<link rel="stylesheet" href="/public/index/css/styles.css">
	<link rel="stylesheet" href="/public/index/css/newscontent.css">
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<h1 class="logo"><a href="#"><img src="/public/index/image/logo.jpg" alt="" height="60"></a></h1>
			<div class="headerR">
				<div class="headerF">
					<a href="#">设为主页</a>
					<a href="#">加入收藏</a>
					<a href="#">网站地图</a>
					<a href="#">邮箱登录</a>
				</div>
				<div class="clearFix"></div>
				<div class="search">
					<form action="">
						<input type="text" class="searchInput" placeholder="输入关键字">
						<input type="submit" class="searchBtn" value="搜索">
					</form>
				</div>
				<!-- <div class="mail">
					<form action="">
						<table>
							<tr>
								<td>用户名:</td>
								<td><label for=""><input type="text" class="textfield"></label></td>
								<td>密码:</td>
								<td><label for=""><input type="password" class="textfield"></label></td>
								<td><input type="submit" class="Button" value="邮箱登录"></td>
							</tr>
						</table>
					</form>
				</div> -->
			</div>	
		</div>

		<!-- 导航栏 -->
		<div class="clearFix"></div>
		<div class="navigation">
			<ul class="menu">
			    <li class="menu-item"><a href="/index/index/index.html">首页</a></li>
                            <li class="menu-item"><a href="/index/index/about.html">关于我们</a></li>
                            <li class="menu-item"><a href="/index/index/kjcg.html">科学技术</a></li>
                            <li class="menu-item"><a href="/index/index/kjzy.html">技术转移</a></li>
                            <li class="menu-item"><a href="/index/index/news.html">资讯中心</a></li>                          
                            <li class="menu-item"><a href="/index/index/periodical.html">科技刊物</li>
                            <li class="menu-item"><a href="/index/index/introductor.html">人力资源</a></li>
                            <li class="menu-item"><a href="/index/index/contact.html">联系我们</a></li>
		    </ul>
		    <div class="times"><span>2018-07-13 15:47:29 星期五</span></div>
		</div>

		<!-- banner -->
		<div class="banner1"><img src="/public/index/image/news.jpg" alt=""></div>

		<!-- 概括 -->
		<div class="newcon">
			<div class="sidenav">
				<ul>
					<li>
						<h3>资讯中心</h3>
						<ul class="subul">
							<li><a href="#">院属新闻</a></li>
							<li><a href="#">工会活动</a></li>
							<li><a href="#">科研动态</a></li>
							<li><a href="#">科研信息公开</a></li>
						</ul>
					</li>
					<li>
						<h3>资讯动态</h3>
						<ul class="subul1">
							<li><a href="#">我院成功举办“合同风险防范”专题...</a></li>
							<li><a href="#">22222222222222222222222”专题...</a></li>
							<li><a href="#">33333333333333333333333”专题...</a></li>
							<li><a href="#">44444444444444444444444”专题...</a></li>
							<li><a href="#">55555555555555555555555”专题...</a></li>
							<li><a href="#">我院成功举办“合同风险防范”专题...</a></li>
					    </ul>
					</li>
					<li limg><img src="/public/index/image/sidebar.jpg" alt=""></li>
				</ul>
			</div>
			<div class="sidecon1">
				<div class="aboutTop">当前位置:<a href="">首页</a> > <a href="">资讯中心</a> > <a href="">新闻</a></div><hr>
				<div class="about">
					<h2 class="h_2">中船综合院领导一行来我院考察交流</h2>	
					<h6 class="h_6"><div>作者：    发布于：2018-7-6 17:49:13  点击量：???</div></h6>
					<br>
					<p text>&nbsp; &nbsp; 2018年7月6日，中国船舶工业综合技术经济研究院院长王岩、副院长王丽军等一行11人来我院访问交流。深圳航天科技创新研究院院长张华、副院长李春明及相关部门和院属公司领导参加了座谈会。</p>
					<br>
              		<p text>&nbsp; &nbsp; 王岩一行先后参观了研究院成果展厅及机器人实验室。随后在座谈会上，双方就技术创新模式、成果孵化途径、骨干人才激励的经验做法，进行了深入的研讨交流。</p>
              		<br>
              		<div><img src="image/1.jpg" style="font-size: 15px;" alt="" /></div>
					<div><img src="/public/index/image/2.jpg" style="font-size: 15px;" alt="" /></div>
					<div><img src="/public/index/image/3.jpg" style="font-size: 15px;" alt="" /></div>
					<div><img src="/public/index/image/1.jpg" style="font-size: 15px;" alt="" /></div>
					<div><img src="/public/index/image/2.jpg" style="font-size: 15px;" alt="" /></div>
					<div><img src="/public/index/image/3.jpg" style="font-size: 15px;" alt="" /></div>
				</div>
				<hr>
				 <div class=pagenavi>
                    <div class=pageleft><strong>上一篇: </strong><a href="/cn/news/2018-6-26/678.html">哈工大深圳研究院与美国洛约拉马利蒙特大学合作培养创新人才</a></div>
                    <div class=pageright><strong>下一篇: </strong>没有了!</div>
                </div>  
			</div>
		</div>

		<!-- 友情链接 -->
		<div class="clearFix"></div>
		<div class="friendlink">
			<table>
				<tr>
					<td>
						<p style="color:#1678d1;font-size:14px;"><strong>友情链接:</strong></p>
					</td>
					<td>
						<ul>
							<li><a href="">中国航天科技集团公司</a></li>
							<li><a href="">哈尔滨工业大学</a></li>
							<li><a href="">人民政府</a></li>
						</ul>
					</td>
					<td>&nbsp;&nbsp;
						<select name="" id="" style="width:200px" onChange="window.open(this.value);">
							<option value="">===相关链接===</option>
							<option value="http://www.cas.ac.cn/">中国科学院</option>
							<option value="http://www.iapcm.ac.cn/">北京应用物理与计算数学研究所</option>
							<option value="http://www.csrc.ac.cn/zh/zxjj/">北京计算科学研究中心</option>
							<option value="http://www.iphy.ac.cn/">中科院物理研究所</option>
							<option value="http://www.spc-lab.org/">表面物理与化学重点实验室</option>
							<option value="http://www.pku.edu.cn/">北京大学</option>
							<option value="http://www.tsinghua.edu.cn/publish/th/index.html">清华大学</option>
							<option value="http://www.fudan.edu.cn/">复旦大学</option>
							<option value="http://www.ustc.edu.cn/">中国科技大学</option>
							<option value="http://fund.caep.ac.cn/">中物院科学技术基金</option>
							<option value="http://www.caep.ac.cn/mregister_caep/loginframe.asp">中物院会议注册系统</option>


						</select>
					</td>
						
				</tr>
			</table>
		</div>

		<div class="footer">
			<ul class="footerul">
				<li class="menu-item"><a href="index.html">首页</a></li>
				<li class="menu-item"><a href="about.html">关于我们</a></li>
				<li class="menu-item"><a href="kjcg.html">科学技术</a></li>
				<li class="menu-item"><a href="kjzy.html">技术转移</a></li>
				<li class="menu-item"><a href="news.html">资讯中心</a></li>
				<li class="menu-item"><a href="periodical.html">科技刊物</li>
				<li class="menu-item"><a href="introductor.html">人力资源</a></li>
				<li class="menu-item"><a href="contact.html">联系我们</a></li>
			</ul>
			<p>深圳航天科技创新研究院<span>&copy;</span>版权所有　   地址：广东省深圳市南山区科技南十路6号      邮编：518057      院长信箱:<a href="">yzxx@chinasaat.com</a><br> 
            Copyright <span>&copy;</span> 2000-2013 Shenzhen Academy of Aerospace Technology<br> 
            <a href="">粤ICP备06040745</a>  &nbsp;&nbsp;&nbsp;&nbsp;<a href="" target="_blank">深安网备案编号:4403301920640</a>
            </P>
            <p>
            	今日:234&nbsp;&nbsp;
            	昨日:234&nbsp;&nbsp;
            	本月:234&nbsp;&nbsp;
            	全部:234
            </p>
		</div>
<script src="/public/index/js/jquery.js" type="text/javascript" charset="utf-8" ></script>
<script src="/public/index/js/style.js"></script>
<script  type="text/javascript">
	$(".subul1>li").click(function(){
		console.log($(this).text());
		$(".about").html("");
		$(".about").html('<h2 class="h_2">我是新的网页</h2> <h6 class="h_6"><div>作者：    发布于：2018-7-6 17:49:13  点击量：???</div></h6> <br> <p text>&nbsp; &nbsp; 2018年7月6日，中国船舶工业综合技术经济研究院院长王岩、副院长王丽军等一行11人来我院访问交流。深圳航天科技创新研究院院长张华、副院长李春明及相关部门和院属公司领导参加了座谈会。</p> <br> <p text>&nbsp; &nbsp; 王岩一行先后参观了研究院成果展厅及机器人实验室。随后在座谈会上，双方就技术创新模式、成果孵化途径、骨干人才激励的经验做法，进行了深入的研讨交流。</p> <br> <div><img src="/public/index/image/10.jpg" style="font-size: 15px;" alt="" /></div> <div><img src="/public/index/image/20.jpg" style="font-size: 15px;" alt="" /></div> <div><img src="/public/index/image/30.jpg" style="font-size: 15px;" alt="" /></div>');
		$("title").text($(".h_2").text())
	});

	
		

		// $(".subul1").on("click","li",function(){
		// 	console.log(111)
		// })
</script>



	</div>
</body>
</html>
