<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
        <meta http-equiv="pragma" content="private">
        <title>首页</title>
        <link rel="stylesheet" href="/public/index/css/style.css">
    </head>
    <body >
        <div class="wrapper">

            <script src="/public/index/js/header.js"></script>
            <!-- banner -->
		<div class="banner1"><img src="/public/index/image/banner.png" alt=""></div>

		<!-- 概括 -->
		<div class="about_con">
			<div class="sidenav">
				<ul>
					<li>
						<h3>站点地图</h3>
						<ul class="subul">
							<li ><a href="about.html">站点地图</a></li>
						</ul>
					</li>
					
				</ul>
			</div>
			<div class="sidecon">
				<div class="aboutTop">当前位置:<a href="">站点地图</a></div><hr>
				<div class="aboutCon zmap">
                                    <ul><h6>首页</h6></ul>
                                    <ul>
                                        <h6>关于我们</h6>
                                        <li><a href="#">研究院概括</a></li>
                                        <li><a href="#">研究领域</a></li>
                                        <li><a href="#">历史足迹</a></li>
                                        <li><a href="#">组织架构</a></li>
                                        <li><a href="#">奖励与荣誉</a></li>
                                    </ul>
                                    <ul>
                                        <h6>科学技术</h6>
                                        <li><a href="#">物理学</a></li>
                                        <li><a href="#">化学与材料</a></li>
                                        <li><a href="#">信息科学与电子工程</a></li>
                                        <li><a href="#">光学与电气工程</a></li>
                                        <li><a href="#">力学与数学</a></li>
                                        <li><a href="#">通知公告</a></li>
                                    </ul>
                                    <ul>
                                        <h6>技术转移</h6>
                                        <li><a href="#">物理学</a></li>
                                        <li><a href="#">化学与材料</a></li>
                                        <li><a href="#">信息科学与电子工程</a></li>
                                        <li><a href="#">光学与电气工程</a></li>
                                        <li><a href="#">力学与数学</a></li>
                                        <li><a href="#">通知公告</a></li>
                                    </ul>
                                    <ul>
                                        <h6>资讯中心</h6>
                                        <li><a href="#">要闻</a></li>
                                        <li><a href="#">社会公益</a></li>
                                        <li><a href="#">文化建设</a></li>
                                    </ul>
                                    <ul>
                                        <h6>科技刊物</h6>
                                        <li><a href="#">科技期刊</a></li>
                                        <li><a href="#">科技丛书</a></li>
                                        <li><a href="#">科技年报</a></li>
                                    </ul>
                                     <ul>
                                        <h6>人力资源</h6>
                                        <li><a href="#">教育培训</a></li>
                                        <li><a href="#">人才引进</a></li>
                                        <li><a href="#">博士后</a></li>
                                        <li><a href="#">动态</a></li>
                                        <li><a href="#">声音</a></li>
                                    </ul>
                                    <ul>
                                        <h6>联系我们</h6>
                                    </ul>
				</div>
			</div>
		</div>

<script src="/public/index/js/footer.js"></script>
        </div>
        <script src="/public/index/js/jquery.js"></script>
        <script src="/public/index/js/style.js"></script>
    </body>
</html>

